:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --window-height: 300px;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

#app {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

main {
  height: calc(100vh - 50px);
  position: relative;
}

.chat-bot-outer {
  position: absolute;
  bottom: 25px;
  right: 50px;
}
.chat-bot-inner {
  height: var(--window-height);
  width: 200px;
  display: flex;
  flex-direction: column;
  outline: 1px solid gray;
  border-radius: 4px;
  padding: 8px;
}
.window {
  height: calc(var(--window-height) - 20px);
  padding: 4px;
  outline: 1px solid lightgray;
}

.chat-text.user {
  background-color: #646cff;
  color: white;
}

.chat-text.bot {
  background-color: lightgray;
}

.input-outer {
  display: flex;
  margin-top: 6px;
}

.input-outer > input {
  width: 75%;
}

.chat-bot-inner.closed {
  visibility: hidden;
  opacity: 0;
  transform: translateY(-10px);
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    visibility 0s 0.3s;
}
.chat-bot-inner.open {
  display: flex;
  opacity: 1;
  transform: translateY(0);
  visibility: visible;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
    visibility 0s;
}
.chat-bot-cog-wrapper {
  display: flex;
  align-items: end;
  flex-direction: column;
  margin-top: 10px;
}
.chat-bot-cog-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  outline: 1px solid;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 0.2em;
  margin-left: 4px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
